*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.UltraMainAll{
    background-color: #0b0c10;
    height: 100vh;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    /*overflow: scroll;*/

}

/*.Main{*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    display: flex;*/
/*    height: 100%;*/
/*}*/
.counter{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
    margin-left: 5%;
    /*padding: 20px;*/
    background: #1f2833;
    color: #c5c6c7;
    font-size: 26px;
}
.nrmlbtn{
    width: 90%;
    height: 20%;
    font-size: 36px;
    margin-bottom: 20px;
    background-color: #66fcf1;
}
.windCoin{
    height: 100%;
    width: 30%;
    background-color: #1f2833;
    text-align: center;
    color: #c5c6c7;
    font-size: 50px;
    margin-left: 2%;

}
.workPerks{
    width: 20%;
    height: 100%;
    background-color: #1f2833;
    margin-left: 5%;
    margin-right: 2%;
    color: #c5c6c7;
    font-size: 50px;
}
.countMoney{
    /*width: 80%;*/
    font-size: 70%;
    margin-bottom: 5%;

}

.allItems{
display: flex;
flex-wrap: wrap;
    justify-content: space-around;

}
.kartItem{
    width: 40%;
    height: 50%;
    background-color:#c5c6c7 ;
    color: #1f2833;

    margin-top: 20%;
}
.descriptionItem{
    font-size: 50%;
}
.priceItem{
    font-size: 40%;
}
.buyItem{
    width: 90%;
    color: #0b0c10;
    background-color: #66fcf1;
    border: 0.5px solid;
}
.kartItem img{
    width: 40%;

}
/*.counter h1,div{*/
/*    !*margin-right: 20px;*!*/
/*    font-size: 54px;*/
/*}*/